<div
  class="machine-section"
  [ngClass]="{
       'running-bg': machine.state === LineMachineEnums.RUNNING,
       'alarm-bg': machine.state === LineMachineEnums.ALARM,
       'warning-bg': machine.state === LineMachineEnums.WARNING,
    }"
>
  <mat-icon
    class="status-icon"
    [ngClass]="{
      'running-state-icon': machine.state === LineMachineEnums.RUNNING,
      'not-running-state': machine.state !== LineMachineEnums.RUNNING
    }"
    >{{ machine.state }}</mat-icon
  >
  <div
    class="machine-body-content"
    [ngClass]="{
      'not-running-state': machine.state !== LineMachineEnums.RUNNING
    }"
  >
    <mat-icon class="machine-icon">{{ machine.icon }}</mat-icon>
    {{ machine.title }}
  </div>
</div>
