<div class="navbar-list">
  <div
    *ngFor="let machine of machines"
    class="navbar-item"
    [ngClass]="{
       'alarm-bg': machine.state === LineMachineEnums.ALARM,
       'warning-bg': machine.state === LineMachineEnums.WARNING,
    }"
  >
    <a
      href="#"
      class="navbar-item-link"
      [ngClass]="{
        'running-state-content': machine.state === LineMachineEnums.RUNNING,
        'not-running': machine.state !== LineMachineEnums.RUNNING
      }"
      >{{ machine.title }}</a
    >
    <mat-icon
      class="status-icon"
      [ngClass]="{
        'running-state-icon': machine.state === LineMachineEnums.RUNNING,
        'not-running': machine.state !== LineMachineEnums.RUNNING
      }"
      >{{ machine.state }}</mat-icon
    >
  </div>
</div>
